@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");


body {
    background-color: #041821 ;
    margin: 0;
    font-family: "Montserrat",sans-serif;/*Police par défaut*/
}


header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px;
    border-bottom: solid 1px #455761;/*On ajoute la bordure sous le header*/
}

span {
  color : #16d49a ;
}

header p {
    color: white;
    font-size: 17px;
    font-family: "Yeseva One", sans-serif;
  }

header i {

  color: white;

}

.entête {
  padding: 8px;
  padding-left: 0px;
  margin: 0;
}



.cee { /*Pour que seul créative et engagée soit vert */
    color : #16d49a ;
}




.icones {  
    text-align : right   ;
    margin-top: 16px;
}

.icones i { 
    margin-left: 25px;
    font-size: 12px;
}


main {
  padding-top: 30px;
}

main p {

  color:white;
  font-family: "Yeseva One", sans-serif;
  font-size: 40px;
  margin-top: 0;
}



main #presentation {

    color: white;
    font-family: "Yeseva One",sans-serif;
    font-size: 38px;
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}


main #parentprest , .parent_Lorem , .parent_menu {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}


main #Lorem {
    font-family: "Montserrat";
    font-size: 11px;
    color: #7c878b;
    display: flex;
    flex-wrap: wrap;
}


main #presentation,.Lorem {

    display: flex ;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 11px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

li {
    margin-right: 30px;
    text-align: center;
  }

.menu {

  align-items: center;

}


.menu_surligné { /*Seul le Portrait est surligné en vert*/
    color: white ;
    background-color: #26dba3 ;
    padding: 5px;
}

.Parent_image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.imagesall {

    grid-gap: 1px;
    display: grid;
    padding: 1px;
}

footer {
  color: #7c878b;
  text-align: center;
  padding: 14px;
  font-size: 10px;
  padding-bottom: 0;
}


footer #footer_exercise { 
  color: #7c878b;
  text-align: center;
  font-size: 8px;
  margin-bottom: 0;
}


/* Styles pour les ordinateurs et écran plus grand */
@media (min-width: 1025px) {


    body {
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
    }

    header {
      padding: 2px 15px;
    }
  
    .icones {
      margin-top: 5px;
    }
  
    main {
      padding-top: 35px;
      padding-left: 10%;
      padding-right: 10%;
    }
  
    main li {
      margin-right: 0px;
      padding-left: 1.5vh;
      padding-right: 1.5vh;
    }



    main ul {
      font-size: 80%;
    }
   
    main #presentation {
      width: 180vh;
      height: 20vh;
      display: flex;
      justify-content: left;
      align-items: center;
    }
  
    .Lorem {
      font-size: 20%;
      text-align: left;
      width: 180vh;
      height: 4%
      
      
      ;
    }
  
    .parentprest {
      margin-bottom: 0vh;
    }
  
    .parent_menu {
      padding-bottom: 3vh;
    }
  
    .parent_Lorem {
      padding-bottom: 3vh;
    }
  
    
    .imagesall img {
      max-width: 100%;
      height: 100%;
    }
  
    .imagesall { 
      grid-template-columns: repeat(4, 1fr); /*On fait des lignes de 4 images*/
      gap: 6px;
      align-items: center;
      max-width:  98%;
      height: 15%;
      padding-bottom: 2vh; 
    }

  }

/* Styles pour les tablettes et écrans intermédiaires */
  @media (min-width: 426px) and (max-width: 1024px) {
    body {
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
    }

    header p {

      font-size: 3vh; 
    }


    header {
      padding: 0px 28px;
    }
  
  
    .icones i {
      height: 25px;
      margin-top: 0px;
      font-size: 2vh;
    }
  
    .Lorem {
      margin-bottom: 1vh;
      width: 180vw;
      height: 10vh;
    }
  
  
    main {
      padding-top: 45px;
      padding-left: 45px;
      padding-right: 45px;
    }
  
    main ul {
      font-size: 70%;
      padding-bottom: 20px;
    }
  
    main li {
      margin-right: 0px;
      padding: 0.4vh;
    }
  
    main p { /*On modifie la taille de la présentation en fonction de la taille d*/
      font-size: 4vw;
    }
  
    main #presentation {
      width: 180vw;
      height: 20vh;
      display: flex;
      justify-content: left;
      align-items: center;
      margin-bottom: 2vw;
      font-size: 10vw;
    }
  
    .parent_menu {
      padding-bottom: 2vw;
      font-size : 2vh;
    }
  
    main #Lorem {
      font-size: 1.5vh;

    }


    .imagesall img {
      max-width: 100%;
      height: 100%;
    }
  
    .imagesall {
      grid-template-columns: repeat(5, 1fr);
      gap: 6px;
      align-items: center;
      max-width:  98%;
      height: 15%;
      padding-bottom: 2vh;
    }
  }
  /* Styles pour les téléphones */
  @media (max-width: 425px) {
    header {
      grid-template-columns: 1fr;
      padding: 0px 0px;
      text-align: center;
    }
  
    header p {
      font-size: 24px;
    }
  
    .entête {
      height: 7vh;
      padding: 0px;
    }
  
    .icones {
      text-align: center;
      margin-bottom: 30px;
      padding-right: 32px;
      margin-top: 0;
      height: 10px;
      
    }

    .icones i {

      font-size: 15px;

    }
  
    main {
      padding-top: 50px;
      padding-left: 15px;
      padding-right: 15px;
    }

    main p {
      font-size: 4vh;
    }
  
  
    main #parentprest {
      justify-content: left;
    }
  
    main ul {
      font-size: 70%;
      padding-bottom: 20px;
    }
  
    main li {
      margin-right: 0px;
      padding: 0.4vh;
    }
  
    main #Lorem {
      display: flex;
      text-align: left;
      flex-wrap: wrap;
      font-size: 90%;

    }
  
    .parent_menu {
      flex-wrap: wrap;
      padding-bottom: 20px;
      padding: 0;
    }
  
    .Lorem {
      display: flex;
      flex-wrap: wrap;
      width: 200vh;
    }
  
    .parent_Lorem {
      padding-bottom: 2vh;
    }
  

    .imagesall {
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;
      align-items: center;
      max-width: 98%;
      height: 15%;
      padding-bottom: 2vh;
    }

    .imagesall img {
      max-width: 100%;
      height: 100%;
    }

    .Parent_image img:nth-child(n + 10) { /* On enlève les images au delà de la 9ieme*/
      display: none;
    }
     
  }
  
  

